{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ album.title }} - Album</title>
</head>
<body>
    <h1>{{ album.title }}</h1>
    <h1> {{ full_path }} </h1>
    <div>
        {% for photo in photos %}
        <div>
            <img src="{{ full_path|replace_slash }}/{{ photo.image.url|cut:'/media/' }}" width="300px"><br>
        </div>
        {% endfor %}
    </div>
</body>
</html>
